# Git files
.git
.gitignore

# Python backend specifics
backend/.venv
backend/src/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.pytest_cache/
backend/.mypy_cache/
backend/build/
backend/dist/
backend/*.egg-info/

# Node frontend specifics
frontend/node_modules
frontend/dist # Usually built inside container, but good practice
frontend/.env* # Local frontend env files
frontend/build/ # Sometimes used by other tools

# OS files
.DS_Store
Thumbs.db

# General
*.log
.env
**/.env* # Ignore .env files in all directories

__pycache__/
**/__pycache__/